*.bigwig filter=lfs diff=lfs merge=lfs -text
*.bed filter=lfs diff=lfs merge=lfs -text
test/Bladder.def.coverage.bigwig filter=lfs diff=lfs merge=lfs -text
test/Bladder.def.junctions.bed filter=lfs diff=lfs merge=lfs -text
